.container {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-field {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .qr-code {
    width: 400px;
    height: 250px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: relative;
  }
  
  .scan-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  .btn-purple {
    color: #fff;
    background-color: #800080; /* Color morado */
    border-color: #800080; /* Color del borde */
}

.btn-purple:hover {
    color: #fff;
    background-color: #6a006a; /* Color morado oscuro al hacer hover */
    border-color: #6a006a; /* Color del borde al hacer hover */
}

.btn-purple:focus, .btn-purple.focus {
    box-shadow: 0 0 0 0.2rem rgba(128, 0, 128, 0.5); /* Sombra de enfoque */
}
